@import '../../shared/styles/variables';
@import '../../shared/styles/base';

.header {
  text-align: center;
  font-family: cinzel;
  padding: 0.8em 0;
  color: $white;
  font-size: calc(10px + 2vmin);
  position: relative;
}

h1 {
  display: block;
  font-weight: normal;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  padding: 0.1em 0;
  width: 10em;
  font-size: 1.75em;

  @media (min-width: 70em) {
    padding: 0.25em 0;
    width: 15em;
    font-size: 2em;
  }
}

.menu-icon {
  position: absolute;
  margin-right: 2em;
  cursor: pointer;
  right: 0;
  top: 0;
  padding-top: 1.75em;

  @media (min-width: 70em) {
    padding-top: 2em;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $secondary-background;
  z-index: 3;

  @media (min-width: 70em) {
    width: 12em;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    height: 100vh;
  }

  .menu-list {
    margin: 1.75em auto 0 auto;

    @media (min-width: 70em) {
      text-align: left;
      margin-left: 1em;
      margin-top: 2.5em;
      font-size: 0.75em;
    }

    .list-item {
      margin: 1em 0;
    }
  }
}
